<ng-template #CatRef
             let-context>
    <section class="col">
        <div class="h1">{{context.type}}
        </div>
        <div class="list-group"
             *ngFor="let c of context.categories">
            <div class="list-group-item">
                <div class="d-flex justify-content-between align-items-center">
                    <span class="flex-grow-1 ">{{c.name}}</span>
                    <span class="badge bg-primary rounded-pill pointer"
                          (click)="onEditerCategorie(c)"> <i class="bi bi-pencil"></i></span>
                    <span class="ms-2 badge bg-primary rounded-pill pointer"
                          (click)="onAjouterCategorie(c)"><i class="bi-plus"></i></span>
                </div>
                <ul>
                    <li *ngFor="let child of c.children">
                        <div class="d-flex justify-content-between align-items-center">
                            <span class="flex-grow-1 ">{{child.name}}</span>
                            <span class="badge bg-primary rounded-pill pointer"
                                  (click)="onEditerCategorie(child)"> <i class="bi bi-pencil"></i></span>
                            <span class="ms-2 badge bg-danger rounded-pill pointer"
                                  (click)="onSupprimerCategorie(child)"><i class="bi-trash"></i></span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</ng-template>


<div class="container">
    <div class="row">
        <ng-template *ngTemplateOutlet="CatRef; context: {$implicit: {type :'Fixe',categories: fCategories}}">
        </ng-template>
        <ng-template *ngTemplateOutlet="CatRef; context: {$implicit: {type :'Courante',categories: cCategories}}">
        </ng-template>
        <ng-template *ngTemplateOutlet="CatRef; context: {$implicit: {type :'Exceptionnelle',categories: eCategories}}">
        </ng-template>
    </div>
</div>

<c-categorie-edition></c-categorie-edition>