<div class="input-group input-group-sm">
    <input class="form-control"
           type="date" />
    <input class="form-control flex-fill"
           type="text"
           placeholder="Tier" />
    <input class="form-control"
           list="datalistOptions"
           id="exampleDataList"
           placeholder="Catégorie">
    <datalist id="datalistOptions">
        <option value="San Francisco">
        <option value="New York">
        <option value="Seattle">
        <option value="Los Angeles">
        <option value="Chicago">
    </datalist>
    <input class="form-control"
           type="text"
           placeholder="Note" />
    <span class="input-group-text">Non pointé</span>
    <div class="input-group-text">
        <span class="very-small">Inclus<br />au budget</span>
        <input class="form-check-input mt-0 ms-2"
               type="checkbox"
               checked>
    </div>
    <button class="btn btn-success"
            type="button">Sauvegarder</button>
    <button class="input-group-text btn-secondary" title="Annuler"><i class="bi bi-backspace"></i></button>

</div>