<ul class="list-group list-group-flush rounded-bottom">
    <div class="list-group-item pointer"
         (click)="onAjouterCompte()">
        <i class="bi-plus"></i><span class="fw-light fs-6">Ajouter un compte</span>
    </div>
    <ng-container *ngFor="let c of comptes">
        <li class="list-group-item d-flex justify-content-between align-items-center"
            [class.selected]="c.id === selectedCompteId">
            <span>
                <span (click)="onCompteSelected(c)">{{c.name}}</span>
                <span class="pointer"
                      (click)="onEditerCompte(c)">...</span>
            </span>
            <span class="badge bg-primary rounded-pill">{{soldes[c.id]|euro}}</span>
        </li>
    </ng-container>
</ul>
<c-compte-edition></c-compte-edition>